@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import "//code.jquery.com/ui/1.9.1/themes/base/jquery.ui.theme.css";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* http://stackoverflow.com/questions/10389429/apply-css-to-data-role-page-in-jquerymobile */
.ui-page{
  background-color: white;
}

/* Control buttons */

.ui-btn {
  padding: 5px;
  border: none;
/*  height: 80px;*/
  background-size: contain !important;
}

.ui-btn.ui-nodisc-icon {
  background-color: white; 
}


.recordBtn_off {
  background: transparent url('../img/mic.png') no-repeat center !important; 
}

.recordBtn_on {
	height: 50px !important;
	background: transparent url("../img/mic-on.png") no-repeat center !important;
	background-size: contain !important;
}

.ui-page .ui-header {
  background: transparent !important;
  border: none;
}

.flip {
  display: table-cell;
  vertical-align: middle;
  text-align: center; 
  width: 100px; 
  height: 600px;
}

/* Pages */

/*[data-role="navbar"] {
  background-color: white;
  background: transparent !important;
  height: 5px;
}*/

[data-role="content"] {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 650px;
  width: 100%;
}

/* Font */


#Page_01 {
  background-image: url("../img/Page_01.jpg");
}

#Page_02 {
  background-image: url("../img/Page_02.jpg");
}

#Page_03 {
  background-image: url("../img/Page_03.jpg");
}

#Page_04 {
  background-image: url("../img/Page_04.jpg");
}

#Page_05 {
  background-image: url("../img/Page_05.jpg");
}

#Page_06 {
  background-image: url("../img/Page_06.jpg");
}

#Page_07 {
  background-image: url("../img/Page_07.jpg");
}

#Page_08 {
  background-image: url("../img/Page_08.jpg");
}

#Page_09 {
  background-image: url("../img/Page_09.jpg");
}

#Page_10 {
  background-image: url("../img/Page_10.jpg");
}

#Page_11 {
  background-image: url("../img/Page_11.jpg");
}

#Page_12 {
  background-image: url("../img/Page_12.jpg");
}

#Page_13 {
  background-image: url("../img/Page_13.jpg");
}

#Page_14 {
  background-image: url("../img/Page_14.jpg");
}

#Page_15 {
  background-image: url("../img/Page_15.jpg");
}

#Page_16 {
  background-image: url("../img/Page_16.jpg");
}

#Page_17 {
  background-image: url("../img/Page_17.jpg");
}

#Page_18 {
  background-image: url("../img/Page_18.jpg");
}

#Page_19 {
  background-image: url("../img/Page_19.jpg");
}

#Page_20 {
  background-image: url("../img/Page_20.jpg");
}

#Page_21 {
  background-image: url("../img/Page_21.jpg");
}

#Page_22 {
  background-image: url("../img/Page_22.jpg");
}

#Page_23 {
  background-image: url("../img/Page_23.jpg");
}

#Page_24 {
  background-image: url("../img/Page_24.jpg");
}

#Page_25 {
  background-image: url("../img/Page_25.jpg");
}

#Page_26 {
  background-image: url("../img/Page_26.jpg");
}



